<StackLayout [row]="row"  [col]="col" [margin]="pageSide/4">
  <TextField [hint]="hint" class="mutedBg radiusTextField"></TextField>
  <!-- [formControlName]="rformcontrolname" -->
  <!-- [formGroup]="rformgroup" -->
  <!-- [ngClass]="{ errorBorder :invalidControl}" -->
  <!-- <Label text="incomplete input " *ngIf="errorRequired" class="errorlbl"></Label>
  <Label text="format is incorrect" *ngIf="errorFormate" class="errorlbl"></Label>
  <Label text="length is incorrect" *ngIf="errorLength" class="errorlbl"></Label>  -->
</StackLayout>