<ScrollView>
    
  <GridLayout rows="auto,auto,auto,auto,auto,auto,*" columns="" class="mutedBg" >
      <GridLayout   [height]="boxSize*4/5" row="0" class="whiteBg" style=" border-radius: 20%;">
        <Image  src="http://pluspng.com/img-png/clothes-png-hd-t-shirt-png-transparent-images-2390886-893.png"></Image>
        
      </GridLayout>
      <GridLayout [margin]="pageSide/4" [height]="boxSize/4" row="1"  rows="*" columns="auto,auto,auto,*">
        <StackLayout [height]="boxSize/5" [width]="boxSize/5" class="whiteBg radius10"  [margin]="pboxSize/58" row="0" col="0">
          <Image  src="http://pluspng.com/img-png/clothes-png-hd-t-shirt-png-transparent-images-2390886-893.png"></Image>
         
        </StackLayout>
        <StackLayout [height]="boxSize/5" [width]="boxSize/5" class="whiteBg radius10"  [margin]="pageSide/8"row="0" col="1">
          <Image  src="http://pluspng.com/img-png/clothes-png-hd-t-shirt-png-transparent-images-2390886-893.png"></Image>
          
        </StackLayout>
        <StackLayout  [height]="boxSize/5" [width]="boxSize/5" class="whiteBg radius10"  [margin]="pageSide/8" row="0" col="2">
          <Image  src="  
          https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSi3qGjVePFf7uKfwhYbDNboEPflKMO5MSUp_ZPnP2zT7lIQp48&s
      "></Image>
         </StackLayout>
        <GridLayout  [paddingLeft]="pageSide/4" class="mutedDark" [margin]="pageSide/8" rows="auto,*" row="0" col="3">
        <Label text="74.96"  ></Label>
        <Label row="1" text="Rs 62.95"  class="font500 font24" [paddingTop]="pageSide/4"   ></Label>
         
        </GridLayout>  
      </GridLayout>
      <Label text="Harry Potter gryffindor gewaad" class="primaryColor fontw500 font18" [marginRight]="pageSide/2" [marginLeft]="pageSide/2" [marginTop]="pageSide/6" [marginBottom]="pageSide/6" row="2"  ></Label>
      <Label row="3" [marginRight]="pageSide/2" [marginLeft]="pageSide/2"
      text="dlk jf asd asd klf jdi ojfk ldfk lsd fjsd kla jfo d j f k jdkfj lsd kjfk a jdfkldj fkjdkls j klf jdi ojfk ldfk lsd fjsd kla jfo d j f k jdkfj lsd kjfk a jdfkldj fkjdkls j asd klf jdi ojfk ldfk lsd fjsd kla jfo d j f k jdkfj lsd kjfk a jdfkldj fkjdkls jfklsd jfijdljlk djfkdj  fjsk ldjf kld sjf oisdj fksdj f kdsjfl asdjfos djofj sdkl kdf jlasd kjfkljsdklj dkfjslkfjaskldf"
      textWrap="true" ></Label>
      <GridLayout  [marginLeft]="pageSide/2" [marginTop]="pageSide/2"  row="4" rows="*,*,*" columns="*,*,*,*,*,*,*">
        <Label text="Size" col="0"   ></Label>
        <Label text="" col="1" ></Label>
        
        <Label text="XS" col="2"   ></Label>
        <Label text="S" col="3"  ></Label>
        <Label text="M" col="4"  ></Label>
        <Label text="L" col="5"  ></Label>
        <Label text="XL" col="6"  ></Label>
        
        <Label row="2" colSpan="2"   text="Quantity"  col="0" textWrap="true"[marginTop]="pageSide*2/3"></Label>
        <Label row="2" text="icon"  col="2" [marginTop]="pageSide*2/3" ></Label>
        <Label row="2" text="1"   col="3"    [marginTop]="pageSide*2/3"></Label>
        <Label row="2" text="icon"  col="4"  [marginTop]="pageSide*2/3"></Label>
           
      </GridLayout>
      <GridLayout [marginBottom]="pageSide/2" [marginTop]="pageSide/2" [marginRight]="pageSide/2" [marginLeft]="pageSide/2" row="6" rows="" columns="*,*">
        <Label [paddingLeft]="pageSide" [paddingTop]="pageSide/2"  [width]="pageSide*4" [height]="pageSide*3/2"   class="btnbox fontw500" col="0" text="Add to Cart" ></Label>
        <Label col="1"   [paddingLeft]="pageSide" [paddingTop]="pageSide/2" [width]="pageSide*4" [height]="pageSide*3/2"  class="btnbox fontw500" text="Buy Now" ></Label>
        
      </GridLayout>  
  </GridLayout>
    </ScrollView>